<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:security="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                                      http://www.springframework.org/schema/beans/spring-beans.xsd
                                      http://www.springframework.org/schema/mvc
                                      http://www.springframework.org/schema/mvc/spring-mvc.xsd
                                      http://www.springframework.org/schema/context
                                      http://www.springframework.org/schema/context/spring-context.xsd
            http://www.springframework.org/schema/security
            http://www.springframework.org/schema/security/spring-security.xsd">




    <!--静态资源处理方法-->
    <mvc:default-servlet-handler/>


    <!-- 默认扫描的包路径 -->
    <!--扫描包的路径-->
    <context:component-scan base-package="com.swq" />



    <!-- 加载配置文件 -->
    <bean id="propertyConfigurer" class="com.swq.util.PropertyConfigUtil">
        <property name="locations">
            <list>
                <value>classpath:config.properties</value>
            </list>
        </property>
    </bean>


    <!--导入 mybatis 的配置-->
    <import resource="classpath:/mybatisConfig/spring-mybatis.xml" />

    <!--导入 redis 的配置-->
    <import resource="classpath:/redisConfig/spring-redis.xml" />


    <!--导入 shiro 的配置-->
    <import resource="classpath:spring-shiro.xml" />


    <!--开启注解-->
    <mvc:annotation-driven />

    <!-- json转换 -->
    <mvc:annotation-driven>
        <mvc:message-converters>
            <!-- 解决Ajax返回json字符串的中文乱码问题 -->
            <bean class="org.springframework.http.converter.StringHttpMessageConverter" />
            <!-- <bean class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter" /> -->
            <bean class="com.alibaba.fastjson.support.spring.FastJsonHttpMessageConverter">
                <property name="supportedMediaTypes">
                    <list>
                        <value>application/json;charset=UTF-8</value>
                        <value>application/*+json;charset=UTF-8</value>
                    </list>
                </property>
                <property name="features">
                    <array>
                        <value>WriteMapNullValue</value>
                        <value>WriteNullStringAsEmpty</value>
                        <value>WriteNullListAsEmpty</value>
                        <value>WriteDateUseDateFormat</value>
                        <value>DisableCircularReferenceDetect</value>
                    </array>
                </property>
            </bean>
        </mvc:message-converters>
    </mvc:annotation-driven>
    <!-- 拦截器 -->
    <mvc:interceptors>
        <!--CSRF referer验证的拦截器-->
        <mvc:interceptor>
            <!--url路径-->
            <mvc:mapping path="/**" />
            <mvc:exclude-mapping path="/assets/**" />
            <bean class="com.swq.Interceptor.CSRFRefererInterceptor"></bean>
        </mvc:interceptor>


        <!--CSRF token验证的拦截器-->
        <!--<mvc:interceptor>-->
        <!--<mvc:mapping path="/company/jgb/history/dw/getYbxxHistory" />-->
        <!--<mvc:exclude-mapping path="/assets/**" />-->
        <!--<bean class="com.swq.framework.interceptor.CSRFTokenInterceptor"></bean>-->
        <!--</mvc:interceptor>-->

        <!-- 防SQL注入 -->
        <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/assets/**" />
            <bean class="com.swq.Interceptor.SqlInjectInterceptor"/>
        </mvc:interceptor>
    </mvc:interceptors>

    <!--spring security 配置-->
    <!--<security:http auto-config="true">-->
        <!--<security:intercept-url pattern="/admin**" access="hasRole('ROLE_USER')"/>-->
    <!--</security:http>-->

    <!--<security:authentication-manager>-->
        <!--<security:authentication-provider>-->
            <!--<security:user-service>-->
                <!--<security:user name="101" password="123456" authorities="ROLE_USER" />-->
            <!--</security:user-service>-->
        <!--</security:authentication-provider>-->
    <!--</security:authentication-manager>-->



    <!-- SpringResourceTemplateResolver自动与Spring自己集成 -->
    <!-- 资源解决基础设施, 强烈推荐。 -->
    <bean id="templateResolver"
          class="org.thymeleaf.spring4.templateresolver.SpringResourceTemplateResolver">
        <property name="prefix" value="/templates/" />
        <property name="suffix" value=".html" />

        <!-- 默认情况下, 模板缓存为true。如果您想要设置为false -->
        <!-- 模板在修改时自动更新。 -->
        <property name="cacheable" value="false" />
        <!-- 解决中文乱码 -->
        <property name="characterEncoding" value="UTF-8"/>
    </bean>

    <!-- 模板解析器  -->
    <bean id="templateEngine" class="org.thymeleaf.spring4.SpringTemplateEngine">
        <property name="templateResolver" ref="templateResolver" />
    </bean>

    <bean class="org.thymeleaf.spring4.view.ThymeleafViewResolver">
        <property name="templateEngine" ref="templateEngine" />
        <!-- 解决中文乱码 -->
        <property name="characterEncoding" value="UTF-8"/>
    </bean>



</beans>