<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//ibatis.apache.org//DTD Config 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-config.dtd">




<!--这个是 mybatis 的全局设置，该文件被引用于 spring-mybatis.xml 中的 sqlSessionFactory 的构建中-->


<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="lazyLoadingEnabled" value="false"/>
        <setting name="aggressiveLazyLoading" value="true"/>
        <!--是否打印 sql 语句-->
        <setting name="logImpl" value="STDOUT_LOGGING"/>
    </settings>
</configuration>